@font-face {
  font-family: 'Garamond';
  src: local('Garamond'), url(./fonts/Cormorant_Garamond/CormorantGaramond-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'SourceSerifPro';
  src: local('Garamond'), url(./fonts/Source_Serif_Pro/SourceSerifPro-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: "Garamond", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
