<!doctype html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href='css/normalize.css'/>
		<link rel="stylesheet" type="text/css" href='css/style.css'/>
	</head>
	<body>
		<div class="row">
			<h1>Arbol - The Devil Within</h1>
			<p><span>1239</span> Ratings</p>
		</div>
		<div class="rating-container">
			<div>
				<img src="./images/arbol.png"/>
			</div>		
			<div>
				<h2>Ratings:</h2> 
				<p>Sex: 1/5</p>
				<p>Gore: 3/5</p>
				<p>Language: 0/5</p>
				<p>Religion: 1/5</p>
				<p>Was it even a good movie? 0/5</p>
			<button>Rate</button>
			</div>
		</div>
	</body>
</html>